@import '../Styles/Global.module.scss';
@import '../Styles/Animations.module.scss';


.item,
.skeletonItem {
    background-color: red;
    width: 200px;
    overflow: hidden;
    min-height: 360px;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &,
    * {
        border-radius: 10px;
    }


    div {
        display: flex;
        margin: 10px 10px 0 10px;
        min-height: 20px;
        width: 100px;
    }

    img {
        object-fit: cover;
        width: 200px;
        aspect-ratio: 3/4;
        border-radius: 10px 10px 0 0;
    }

    p {
        display: flex;
        /* min-width: 100px; */
        min-height: 24px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 10px 0 10px;
    }

    p:last-child {}
}

.skeletonItem {
    background-color: #383838 !important;

    &>* {
        animation: pulse 2s linear infinite;
        @include background-gradient;
    }

    img {
        background-color: #cccccc;
    }

    div {
        background-color: #cccccc;
    }

    p {
        background-color: #cccccc;
        border-radius: 10px;
    }
}

.noProduct {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: red;
    justify-content: center;
    grid-column: 1/-1;

}


.az {
    display: flex;
    flex-direction: column;
    font-size: 5pt;

    p {
        color: #383838;
        font-size: 8pt;
        line-height: 10px;
    }
}

.listHeader {
    height: 40px;
    min-width: 150px;
    position: relative;
}

.filterList {
    position: relative;
    width: 150px;

    ul {
        position: absolute;
        top: 0;
        left: 0;
        background: #eee;
        max-width: 300px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #acacac;
        margin: 0 auto;
        left: -300px;
        right: -300px;
        min-width: max-content;
        width: 150px;

        li {
            color: #383838;
            display: flex;
            justify-content: space-between;
        }
    }
}