.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 7px;
}

.item {
    background-color: red;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
}

@media screen and (max-width:900px) {
    .container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media screen and (max-width:700px) {
    .container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .item {
        width: 250px;
    }
}

@media screen and (max-width:550px) {
    .container {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .item {
        width: 300px;
    }

}

.noProduct {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: red;
    justify-content: center;
    grid-column: 1/-1;

}


.btnSm,
.btn {
    background-color: #E2E2E2;
    color: #383838;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all;

    p {
        color: #383838;
        all: unset;
        font-weight: 900;
    }

    .icon {
        height: 17px;
        fill: #383838;
        transition: .2s all;
        color: #383838;
    }
}

.btn:hover {
    background-color: #808080;

    p {
        color: #ffffff;
    }

    .icon {
        color: #ffffff;
        fill: #ffffff;
    }
}

.btnSm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;
    gap: 4px;
    height: 40px;

    * {
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    p {

        transition: .2s all;
        font-weight: 900;
    }
}

.btnMd {
    padding: 10px 5px;
}

.row {
    display: flex;
    gap: 7px;
    flex-direction: row;
    align-items: center;
}

.az {
    display: flex;
    flex-direction: column;
    font-size: 5pt;

    p {
        color: #383838;
        font-size: 8pt;
        line-height: 10px;
    }
}