@import '../Styles/Global.module.scss';


//?---------------------------------------------------------
// ? styles
//?---------------------------------------------------------
.productInfo {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 0 10%;

    p {
        color: #383838;
    }

    .leftSection {}

    .rightSection {
        color: #383838;
        font-weight: 500;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: justify;

        .prodColor {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            cursor: pointer;
        }



    }
}

.centerComboBtn>p {
    color: white !important;
}