@import '../../Styles/Global.module.scss';

.breadCrumbContainer {
    background-color: #ffffff80;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0;
    padding: 0 10%;
    height: 40px;
    align-items: center;
    border: 1px solid #e9e9e9;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .crumbs {
            padding: 7px 15px;
        }

        @include a-styling();


        a,
        a:visited,
        p {
            text-decoration: none;
            color: rgb(112, 112, 112);
        }

        &>.crumbs {
            // border: 1px solid;
        }

        &:first-child>.crumbs {
            border-radius: 50px 0 0 50px;
            border-right: 0;
        }

        &:last-child>.crumbs {
            border-radius: 0 50px 50px 0;
        }
    }
}