.notificationContainer {
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    p {
        color: white;
        font-weight: 300;
        font-size: 10pt;
    }
}