@import './Mixins.module.scss';


a {
    cursor: pointer;
    text-decoration: none;
}

//?---------------------------------------------------------
// ? Colors
//?---------------------------------------------------------
$rating-color: #e0d74d;
$rating-color-light: #e0d74d;

//?---------------------------------------------------------
// ? Containers
//?---------------------------------------------------------
.pageMainContainer {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

// .container {
//     display: grid;
//     grid-template-columns: repeat(4, minmax(200px, 1fr));
//     /* grid-gap: 7px; */
//     justify-items: stretch;
//     align-items: start;
//     justify-content: start;
//     gap: 10px;
// }



//?---------------------------------------------------------
// ? BUTTONS
//?---------------------------------------------------------


.btn,
.btnSm,
.btnMd {
    @include btn;

    p {
        color: #383838;
        all: unset;
        font-weight: 900;
    }

    .icon {
        height: 17px;
        fill: #383838;
        transition: .2s all;
        color: #383838;
        width: 15px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}

.increaseBtn:hover,
.decreaseBtn:hover,
.btn:hover,
.btnSm:hover,
.btnMd:hover,
.iconBtn:hover {
    background-color: #808080;
    color: #ffffff;

    p {
        color: #ffffff;
    }

    .icon {
        color: #ffffff;
        fill: #ffffff;
    }
}

.btnSm {
    border-radius: 50px;
    padding: 0 8px;
    gap: 4px;
    height: 40px;

    * {
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    p {

        transition: .2s all;
        font-weight: 900;
    }
}

// .btnMd {
//     border-radius: 25px;
//     min-height: 40px;
//     // min-width: 200px;
//     gap: 10px;
//     font-weight: 700;
//     min-width: 100px;
//     padding: 10xp 15px;
// }
.btnMd,
.btnIconTxt {
    display: flex;
    align-items: center;
    padding: 0px 14px;
    border-radius: 25px;
    min-height: 40px;
    /* min-width: 200px; */
    /* gap: 3px; */
    font-weight: 700;
    justify-content: center;
}

.btnMd {
    min-width: 100px;
}

.btnIconTxt {
    width: 100px;

    .icon {
        fill: #383838;
        width: 18px;
    }

}

.txtBtnMd {
    font-weight: 700;
    min-width: 90px;
    font-size: 13pt;
    transition: all .2s;
    color: #414141;
}

.txtBtnMd:hover {
    color: #adadad;
    // text-shadow: 1px 0px 0 #383838, -1px 0px 0 #383838, 0px 1px 0 #383838, 0px -1px 0 #383838;
    // text-shadow: -1px -1px 0 #383838;
}

.iconBtn {
    display: flex;
    height: 40px;
    width: 40px;
    fill: #383838;
    transition: 0.2s all;
    color: #383838;
    cursor: pointer;
    background-color: #e2e2e2;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
    border: 1px solid #afafaf;
}


.iconBtnTransparent,
.iconBtn {
    fill: #383838;
    transition: .2s all;
    color: #383838;
    cursor: pointer;

    * {
        width: 15px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.iconBtnTransparent:hover {
    fill: #808080;
    stroke-width: 1px;
}

.centerComboBtn,
.comboBtn {
    background-color: #44005B;
    border: 1px solid #808080;
    border-radius: 30px;
    padding: 0 20px;
    display: flex;
    height: 50px;
    flex-direction: row;
    width: 250px;


    select {
        border-radius: 10px;
        border: 0;
        background-color: transparent;
    }

    .colorCircle {
        aspect-ratio: 4/3;
        height: 35px;
        border-radius: 10px;
        cursor: pointer;
    }

    .icon {
        fill: #ffffff;
        width: 25px;
    }

    a {
        color: #ffffff;
    }
}

.comboBtn {
    justify-content: space-between;
    align-items: center;
}

.centerComboBtn {
    justify-content: center;
    align-items: center;
}

//?---------------------------------------------------------
// ? ROW
//?---------------------------------------------------------

.row,
.rowResponsive,
.rowStart,
.flexAlignStart,
.rowEnd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row,
.rowResponsive,
.flexAlignStart {
    justify-content: center;
    gap: 10px;
}

.flexAlignStart {
    align-items: flex-start;
    grid-column: 1 / -1;
    width: fit-content;
}

.rowStart {
    justify-content: start;
}

.rowEnd {
    justify-content: end;
}



//?---------------------------------------------------------
// ? TABS
//?---------------------------------------------------------
.pagesList {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .selectPageTab {
        color: #383838;
        font-weight: 500;
    }

    .pageTab {
        color: #cacaca;
    }
}

//?---------------------------------------------------------
// ? Spacing
//?---------------------------------------------------------
.gap {
    margin: 5px;
}

//?---------------------------------------------------------
// ? Responsive
//?---------------------------------------------------------

@media screen and (max-width:1000px) {}

@media screen and (min-width:1000px) {}

@media screen and (max-width:900px) {}

@media screen and (max-width:700px) {}

@media screen and (max-width:550px) {}

//?---------------------------------------------------------
// ? spacing
//?---------------------------------------------------------
.gap {
    gap: 10px;
}

//?---------------------------------------------------------
// ? TEXT
//?---------------------------------------------------------
.cautionText {
    color: #d98080 !important;
}

.headerSm {
    font-size: 8pt;
    font-weight: 800;
}

.textGrid,
.textRow {
    justify-content: center;
    gap: 10px;
    align-items: baseline;
}

.textGrid {
    display: grid;
    justify-items: start;
    align-items: baseline;
    align-content: center;
    grid-template-columns: 3fr 2fr;
    padding: 0px 20px;
}

.textRow {
    display: flex;
}

.labelText {
    font-size: 20px;
}

.descriptionText {}

.inputText {}

.flexFill {
    flex: 10;
}

.transition4 {
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.invisible {
    opacity: 0;
}

.partiallyVisible {
    opacity: .5;
}

.visible {
    opacity: 1;
}

.unsaturated {
    filter: saturate(.3) brightness(.7);

}

.partiallyUnsaturated {
    filter: saturate(.6) brightness(.8);

}

.saturated {
    filter: saturate(1) brightness(1);
}