@import '/src/Styles/Global.module.scss';

.logo {
    position: relative;


    .navigationElement {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 5px;

        .navIcon {
            width: 15px;
        }

        p {
            font-size: 10pt;
        }
    }
}

.headerContainer {
    display: flex;
    width: 1000px;
    position: relative;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width:1000px) {
    .headerContainer {
        width: 100vw;
    }

    .navigation {
        gap: 40px;
    }
}

@media screen and (min-width:1000px) {
    .navigation {
        gap: 50px;
    }
}


.svgBackground {
    position: relative;
    z-index: -1;
    width: 100%;

    div {
        width: 100%;
        position: absolute;

        svg {
            position: relative;

            path {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.content {
    position: absolute;
    color: #383838;
    padding: 35px 0 0 0;
    height: 100px;
    width: 100%;

    .headerText {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

}

.navigation {
    display: flex;

    @include a-styling;
}



@media screen and (min-width:900px) {}


.hamburgerIcon {
    height: 30px;
    width: 30px;
    visibility: hidden;
}

.hamburgerButton {
    visibility: hidden;
    width: 0;
    height: 0;

    .hamburgerMenu {
        visibility: hidden;
    }
}


@media screen and (max-width:900px) {

    .navigation {
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .navigationVisible {
        visibility: visible;
    }

    .navigationInvisible {
        visibility: hidden;
    }

    .hamburgerButton {
        visibility: visible;
        width: 30px;
        height: 30px;

        .hamburgerIcon {
            visibility: visible;
        }
    }

    // .rowResponsive {
    //     flex-direction: column;
    // }

    .headerText {
        justify-content: space-around !important;
    }

    .navigationElement {
        .navIcon {
            width: 15px;
        }

        p {
            font-size: 10pt;
        }
    }

    //?---------------------------------------------------------
    // ? Hamburger menu
    //?---------------------------------------------------------
    .hamburgerButton {}

    .hamburgerMenu {
        background: whitesmoke;
        border-right: 1px solid #d5d5d5;
        position: fixed;
        display: flex;
        left: 0px;
        top: 0;
        flex-direction: column;
        // gap: 20px;
        bottom: 0;
        /* padding: 20px 40px 0 20px; */
        min-width: 200px;
        z-index: 99;
        align-items: flex-start;
        visibility: visible;
        transition: ease-out 0.2s;

        a {
            display: flex;
            justify-content: start;
            width: 100%;
            height: 45px;
            padding: 0 10px;
            background-color: #d5d5d5;
            color: #444444;
            transition: ease-out 0.2s;
            border-bottom: 1px solid #8f8f8f;
            align-items: center;
        }

        a:hover {
            background-color: #414141;
            color: #d5d5d5;
            font-size: 20px;
            font-weight: 900;
        }
    }

}

.hamburgerMenuVisible {
    visibility: visible;
    transform: translate(0, 0);
}

.hamburgerMenuInvisible {
    visibility: hidden;
    transform: translate(-200px, 0);
}

.navIcon {}

.profileMenuContainer {
    height: 30px;
    width: 150px;
    position: relative;
    display: flex;
    align-items: center;

    div {
        transition: all .2s;
    }
}

.profileMenuInvisible {
    position: absolute;
    // background-color: #c9c9c9;
    // height: 300px;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
        padding: 0;
    }

    .profileMenuVisibility {
        background-color: red;
    }
}

.profileMenuVisible {
    position: absolute;
    // height: 300px;
    background-color: #d7d7d7;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #acacac;
    z-index: 9999;

    a {
        padding: 5px 10px;
    }
}

.profileMenuVisible>a {}

.profileMenuList {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileMenuItem:last-of-type {
        padding-bottom: 15px;
    }

    .profileMenuItem {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        align-content: center;
        height: 100%;

        a {
            padding: 5px 10px;
            font-weight: 500;
            width: 100%;
            color: #424242;
            text-align: start;

        }


        a:hover {
            color: #cacaca;
            background-color: #606060;
        }

    }


}

.userHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;


    div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex: 3;



        p {
            text-overflow: ellipsis;
            overflow: hidden;
            width: auto;
            flex: 1;
            text-align: start;
        }
    }

    .avatar {
        fill: #606060;
        stroke-width: 2px;
        background: #bdbdbd;
        min-width: 30px;
        max-width: 30px;
        border-radius: 25px;
    }

    .downIcon {
        width: 10px;
    }
}