a {
    cursor: pointer;
    text-decoration: none;
}

//?---------------------------------------------------------
// ? Containers
//?---------------------------------------------------------

.mainSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

// .container {
//     display: grid;
//     grid-template-columns: repeat(4, minmax(200px, 1fr));
//     /* grid-gap: 7px; */
//     justify-items: stretch;
//     align-items: start;
//     justify-content: start;
//     gap: 10px;
// }



//?---------------------------------------------------------
// ? BUTTONS
//?---------------------------------------------------------
.btn,
.btnSm,
.btnMd {
    background-color: #E2E2E2;
    color: #383838;
    border: solid 1px #acacac;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition: .2s all;
    min-height: 40px;

    p {
        color: #383838;
        all: unset;
        font-weight: 900;
    }

    .icon {
        height: 17px;
        fill: #383838;
        transition: .2s all;
        color: #383838;
        width: 15px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}


.btn:hover,
.btnSm:hover,
.btnMd:hover {
    background-color: #808080;
    color: #ffffff;

    p {
        color: #ffffff;
    }

    .icon {
        color: #ffffff;
        fill: #ffffff;
    }
}

.btnSm {
    border-radius: 50px;
    padding: 0 8px;
    gap: 4px;
    height: 40px;

    * {
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    p {

        transition: .2s all;
        font-weight: 900;
    }
}

.btnMd {
    border-radius: 25px;
    min-height: 40px;
    // min-width: 200px;
    gap: 10px;
    font-weight: 700;
}

.iconBtn {
    height: 17px;
    fill: #383838;
    transition: .2s all;
    color: #383838;
    width: 15px;
    cursor: pointer;

    * {
        width: 15px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

//?---------------------------------------------------------
// ? ROW
//?---------------------------------------------------------

.row,
.rowResponsive,
.rowStart,
.flexAlignStart,
.rowEnd {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row,
.rowResponsive,
.flexAlignStart {
    justify-content: center;
}

.flexAlignStart {
    align-items: flex-start;
    grid-column: 1 / -1;
    width: fit-content;
}

.rowStart {
    justify-content: start;
}

.rowEnd {
    justify-content: end;
}



//?---------------------------------------------------------
// ? TABS
//?---------------------------------------------------------
.pagesList {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .selectPageTab {
        color: #383838;
        font-weight: 500;
    }

    .pageTab {
        color: #cacaca;
    }
}

//?---------------------------------------------------------
// ? Spacing
//?---------------------------------------------------------
.gap {
    margin: 5px;
}

//?---------------------------------------------------------
// ? Responsive
//?---------------------------------------------------------

@media screen and (max-width:1000px) {}

@media screen and (min-width:1000px) {}

@media screen and (max-width:900px) {}

@media screen and (max-width:700px) {}

@media screen and (max-width:550px) {}

//?---------------------------------------------------------
// ? mixins
//?---------------------------------------------------------
@mixin a-styling {

    a,
    a:hover {
        text-decoration: none;
        color: unset;
        transition: all 0.2s;
        color: #383838;
    }

    a:hover {
        color: #adadad;

        // -webkit-text-stroke: 1px #383838;
        // text-shadow: 0 0 2px #383838;
    }
}