@import '../Styles/Global.module.scss';

.logo {
    position: relative;


    .navigationElement {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 5px;

        .navIcon {
            width: 15px;
        }

        p {
            font-size: 10pt;
        }
    }
}

.headerContainer {
    display: flex;
    width: 1000px;
    position: relative;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width:1000px) {
    .headerContainer {
        width: 100vw;
    }

    .navigation {
        gap: 40px;
    }
}

@media screen and (min-width:1000px) {
    .navigation {
        gap: 50px;
    }
}


.svgBackground {
    position: relative;
    z-index: -1;
    width: 100%;

    div {
        width: 100%;
        position: absolute;

        svg {
            position: relative;

            path {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.content {
    position: absolute;
    color: #383838;
    padding: 35px 0 0 0;
    height: 100px;
    width: 100%;

    .headerText {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

}

.navigation {
    display: flex;

    @include a-styling;
}



@media screen and (min-width:900px) {}

.btnMd {
    min-width: 100px;
    padding: 10xp 15px;
}

.txtBtnMd {
    font-weight: 700;
    min-width: 90px;
    font-size: 13pt;
    transition: all .2s;
    color: #414141;
}

.txtBtnMd:hover {
    color: #adadad;
    // text-shadow: 1px 0px 0 #383838, -1px 0px 0 #383838, 0px 1px 0 #383838, 0px -1px 0 #383838;
    // text-shadow: -1px -1px 0 #383838;
}

.hamburgerIcon {
    height: 30px;
    width: 30px;
    visibility: hidden;
}

.hamburgerMenu {
    visibility: hidden;
}



@media screen and (max-width:900px) {

    .navigation {
        flex-direction: column;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        visibility: hidden;
    }

    .navigationVisible {
        visibility: visible;
    }

    .navigationInvisible {
        visibility: hidden;
    }

    .hamburgerIcon {
        visibility: visible;
    }

    // .rowResponsive {
    //     flex-direction: column;
    // }

    .headerText {
        justify-content: space-around !important;
    }

    .navigationElement {
        .navIcon {
            width: 15px;
        }

        p {
            font-size: 10pt;
        }
    }

    //?---------------------------------------------------------
    // ? Hamburger menu
    //?---------------------------------------------------------
    .hamburgerMenu {
        background: whitesmoke;
        border-right: 1px solid #d5d5d5;
        position: fixed;
        display: flex;
        left: 0px;
        top: 0;
        flex-direction: column;
        // gap: 20px;
        bottom: 0;
        /* padding: 20px 40px 0 20px; */
        min-width: 200px;
        z-index: 99;
        align-items: flex-start;
        visibility: visible;
        transition: ease-out 0.2s;

        a {
            display: flex;
            justify-content: start;
            width: 100%;
            height: 45px;
            padding: 0 10px;
            background-color: #d5d5d5;
            color: #444444;
            transition: ease-out 0.2s;
            border-bottom: 1px solid #8f8f8f;
            align-items: center;
        }

        a:hover {
            background-color: #414141;
            color: #d5d5d5;
            font-size: 20px;
            font-weight: 900;
        }
    }

    .hamburgerMenuVisible {
        visibility: visible;
        transform: translate(0, 0);
    }

    .hamburgerMenuInvisible {
        visibility: hidden;
        transform: translate(-200px, 0);
    }

}

.navIcon {}